@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Gabriela&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Pattaya&display=swap');*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$primaryColor: #6E2E3C;
$secondaryColor: #FAEFE3;
$card-height: 100%;
$sombra: 0px 0px 4px 4px rgba(0,0,0,0.12);