.tarjetas{
    padding: 10px;
    display: flex;
}
.tarjeta{
    @extend .card;
    background-color: $secondaryColor;
    width: 60%;
    border-radius: 5px;
    text-align: center;
    color: $primaryColor;
    font-family: "Josefin Sans";
    margin: 10px;
    &:hover{
        -webkit-box-shadow: $sombra; 
        box-shadow: $sombra;
    }
    img{
        width: 100%;
        height: auto;
    }
    .cuerpoTarjeta{
        padding: 10px;
        font-size: large;
        h1{
            font-family: "Gabriela";
            font-weight: 800;
            font-size: 30px;
            text-shadow: 0 0 1px $primaryColor;
        }
    }
}