@mixin texto($font,$color,$size) {
    @if ($font == true) {
        font-family: "Gabriela";
    }
    @else{
        font-family: "Josefin Sans";
    }
    @if ($color == true) {
        color: $primaryColor;
    }
    @else{
        color: $secondaryColor
    }
    font-size: $size;
}

.carousel-item{
    font-family: "Josefin Sans";
    .carousel-caption{
        background-color: rgba(0, 0, 0, 0.425);
        border-radius: 20px;
    }
    p{
        color: $secondaryColor;
    }
    h2{
        @include texto(true, false , 50px);
        text-shadow: 0 0 5px #000;
    }
}

.categorias{
    margin-top: 0px;
    padding-top: 0px;
}

.asideProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #6E2E3C solid;
    font-family: "Josefin Sans";
    height: fit-content;
    background-color: $secondaryColor;
    input{
        width: 100%;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        padding: 5px;
        box-shadow: $sombra;
    }
    h2{
        font-family: "Gabriela";
    }
    h3{
        @include texto(true, true , 19px);
        text-shadow: 0 0 2px $secondaryColor;
        font-weight: bold;
        margin: 8px;
        padding: 10px;
    }
    .btn{
        color: $secondaryColor;
        box-shadow: $sombra;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.productCard{
    width: 30%;
    border: $primaryColor solid;
    border-radius: 10px;
    background-color: $secondaryColor;
    @include texto(false, true , 15px);
    margin: 5px;
    &:hover{
        -webkit-box-shadow: $sombra; 
        box-shadow: $sombra;
    }
    img{
        width: 100%;
    }
    .body-card{
        padding: 10px;
        h3{
            font-family: "Gabriela";
            font-weight: bolder;
            text-shadow: 0 0 2px $secondaryColor;
        }
        button{
            padding: 10px;
            border: none;
            border-radius: 15px;
            background-color: $primaryColor;
            color: $secondaryColor;
            &:hover{
                background-color:#612834;       
            }
        }
    }
}