@import "generales";
@import "navbar";
@import "header";
@import "main";
@import "section";
@import "nosotros";
@import "productos";
@import "galeria";
@import "contacto";
@import "footer";

@media(max-width:900px){
    .tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .asideProductos{
        display: none;
    }
    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .productCard{
            width: 50%;
        }
    }
    .cuadros{
        flex: 50%;
        max-width: 50%;
    }
}

@media(max-width:768px){
    .asideProductos{
        display: none;
    }
    .cuadros{
        flex: 100%;
        max-width: 100%;
    }
}

@media(max-width:768px){
    .navbar{
        .navIcons{
            div{
                img{
                    display: none;
                }
            }
        }
    }
}

@media(max-width:1000px){
    .asideProductos{
        display: none;
    }
}
