@import "generales";
@import "navbar";
@import "header";
@import "main";
@import "section";
@import "nosotros";
@import "productos";
@import "galeria";
@import "footer";

@media(max-width:900px){
    .tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    aside{
        display: none;
    }
    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .productCard{
            width: 100%;
        }
    }
    .cuadros{
        flex: 50%;
        max-width: 50%;
    }
}

@media(max-width:768px){
    .cuadros{
        flex: 100%;
        max-width: 100%;
    }
}