@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Gabriela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Pattaya&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  border-bottom: #FAEFE3 solid;
  margin-bottom: 1px;
}
.navbar .navbar-toggler {
  background-color: #FAEFE3;
  border: #FAEFE3 solid;
}
.navbar .navIcons img {
  width: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar .offcanvas-header a {
  justify-content: center;
}
.navbar .offcanvas-body a {
  color: #6E2E3C;
}
.navbar .offcanvas-body .nav-link {
  color: #6E2E3C;
}
.navbar .bi {
  fill: #6E2E3C;
  width: 32px;
  margin-top: 10px;
}

.indexHeader {
  margin-top: 143px;
  overflow: hidden;
  position: relative;
}
.indexHeader video {
  width: 100%;
}
.indexHeader .titulo {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  color: #FAEFE3;
  font-family: "Gabriela";
}
.indexHeader .titulo h1 {
  background-color: #6E2E3C;
  width: 100%;
}

.header {
  margin-top: 143px;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
}
.header img {
  width: 100%;
}
.header h1 {
  color: #FAEFE3;
  text-shadow: 0 0 5px #000;
  font-family: "Josefin Sans";
  font-size: 5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}

main {
  background-image: url(../img/smbckghd.png);
  padding-bottom: 10px;
}
main h2 {
  font-size: 22px;
  font-family: "Josefin Sans";
  color: #6E2E3C;
  padding-top: 10px;
  font-weight: bold;
  text-shadow: 0 0 2px #FAEFE3;
  text-align: center;
  padding: 20px;
}
main .card, main .tarjeta {
  border: #6E2E3C solid;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}
main .card .card-body, main .tarjeta .card-body {
  background-color: #FAEFE3;
  border-top: #6E2E3C solid 2px;
}
main .card .card-body .card-title, main .tarjeta .card-body .card-title {
  font-family: "Gabriela";
  font-weight: 600;
  color: #6E2E3C;
  text-align: center;
}
main .card .card-body .card-text, main .tarjeta .card-body .card-text {
  font-family: "Josefin Sans";
  color: #6E2E3C;
  text-align: center;
}

.horneados h2 {
  font-size: 30px;
  margin-top: 10px;
}
.horneados .contenedor {
  width: 300px;
  height: 400px;
  background-image: url(../img/swcake.jpg);
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
.horneados .contenedor .overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(250, 239, 227, 0.7803921569);
  color: #6E2E3C;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Josefin Sans";
}
.horneados .contenedor .overlay .items {
  padding-left: 20px;
}
.horneados .contenedor .overlay .head {
  font-size: 50px;
  font-weight: bold;
  transform: translateY(40px);
  transition: all 0.7s;
}
.horneados .contenedor .overlay .desc {
  font-weight: bold;
  transform: translateY(40px);
  transition: all 0.7s;
}
.horneados .contenedor .overlay .precio {
  font-size: 22px;
  line-height: 10px;
  opacity: 0;
  font-weight: bold;
  transform: translateY(40px);
  transition: all 0.7s;
}
.horneados .contenedor .overlay .cart {
  letter-spacing: 1px;
  opacity: 0;
  font-weight: bold;
  transform: translateY(40px);
  transition: all 0.7s;
}
.horneados .contenedor .overlay .cart .bi {
  width: 16px;
  fill: #6E2E3C;
}

.contenedor:hover .overlay {
  opacity: 1;
}
.contenedor:hover .overlay .head {
  transform: translateY(0px);
}
.contenedor:hover .overlay .desc {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.contenedor:hover .overlay .precio {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.contenedor:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}

.arrows:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tarjetas {
  padding: 10px;
  display: flex;
}

.tarjeta {
  background-color: #FAEFE3;
  width: 60%;
  border-radius: 5px;
  text-align: center;
  color: #6E2E3C;
  font-family: "Josefin Sans";
  margin: 10px;
}
.tarjeta:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.tarjeta img {
  width: 100%;
  height: auto;
}
.tarjeta .cuerpoTarjeta {
  padding: 10px;
  font-size: large;
}
.tarjeta .cuerpoTarjeta h1 {
  font-family: "Gabriela";
  font-weight: 800;
  font-size: 30px;
  text-shadow: 0 0 1px #6E2E3C;
}

.carousel-item {
  font-family: "Josefin Sans";
}
.carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 20px;
}
.carousel-item p {
  color: #FAEFE3;
}
.carousel-item h2 {
  font-family: "Gabriela";
  color: #FAEFE3;
  font-size: 50px;
  text-shadow: 0 0 5px #000;
}

.categorias {
  margin-top: 0px;
  padding-top: 0px;
}

.asideProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #6E2E3C solid;
  font-family: "Josefin Sans";
  height: fit-content;
  background-color: #FAEFE3;
}
.asideProductos input, .asideProductos .form textarea, .form .asideProductos textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.asideProductos h2 {
  font-family: "Gabriela";
}
.asideProductos h3 {
  font-family: "Gabriela";
  color: #6E2E3C;
  font-size: 19px;
  text-shadow: 0 0 2px #FAEFE3;
  font-weight: bold;
  margin: 8px;
  padding: 10px;
}
.asideProductos .btn {
  color: #FAEFE3;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.productCard {
  width: 30%;
  border: #6E2E3C solid;
  border-radius: 10px;
  background-color: #FAEFE3;
  font-family: "Josefin Sans";
  color: #6E2E3C;
  font-size: 15px;
  margin: 5px;
}
.productCard:hover {
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.productCard img {
  width: 100%;
}
.productCard .body-card {
  padding: 10px;
}
.productCard .body-card h3 {
  font-family: "Gabriela";
  font-weight: bolder;
  text-shadow: 0 0 2px #FAEFE3;
}
.productCard .body-card button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #6E2E3C;
  color: #FAEFE3;
}
.productCard .body-card button:hover {
  background-color: #612834;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.cuadros {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  transition: all 1s;
}
.cuadros img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.cuadros img:hover {
  transform: translate(0px, 20px) scale(1.2);
}

.form {
  font-family: "Josefin Sans";
  color: #6E2E3C;
}
.form h3 {
  font-family: "Gabriela";
  font-weight: 800;
  font-size: 32px;
  text-shadow: 0 0 3px #FAEFE3;
}
.form input, .form textarea {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #FAEFE3;
}
.form input:focus, .form textarea:focus {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.12);
}
.form .btn-primary {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #6E2E3C;
  color: #FAEFE3;
  margin-bottom: 10px;
}
.form .btn-primary:hover {
  background-color: #612834;
}

.ubicacion {
  text-align: center;
  font-family: "Josefin Sans";
  color: #6E2E3C;
  background-color: #FAEFE3;
  border: solid;
  border-radius: 30px;
  padding: 10px;
}

.map iframe {
  width: 100%;
}

.contactoBox {
  color: #6E2E3C;
  font-family: "Josefin Sans";
  margin-top: 10px;
  background-color: #FAEFE3;
  border: solid;
  border-radius: 20px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.541);
}
.contactoBox h2 {
  font-size: 32px;
  text-align: center;
  font-family: "Gabriela";
  padding: 5px;
}
.contactoBox ul {
  margin: 10px;
  padding-left: 10px;
}
.contactoBox ul li {
  list-style: none;
}
.contactoBox ul li .bi {
  width: 32px;
  fill: #6E2E3C;
  margin-right: 10px;
}

.footer {
  background-image: url(../img/smfooterbckg.png);
  font-family: "Josefin Sans";
  color: #FAEFE3;
  border-top: #FAEFE3 solid;
  text-shadow: 0 0 5px #000;
}
.footer h3 {
  font-family: "Gabriela";
}
.footer h4 {
  font-size: 15px;
  font-family: "Gabriela";
  text-decoration: underline;
}
.footer a {
  color: #FAEFE3;
}
.footer h5 {
  font-size: 15px;
  margin: 5px 0px 0px 0px;
  padding: 5px;
}
.footer .footerCards {
  border-bottom: #FAEFE3 thin solid;
  width: 100%;
}
.footer .bi {
  width: 18px;
  fill: #FAEFE3;
}
.footer .footerSocialIcons .bi {
  width: 24px;
}
.footer .footerSocialIcons .bi:hover {
  fill: #000;
}

@media (max-width: 900px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .asideProductos {
    display: none;
  }
  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .products .productCard {
    width: 50%;
  }
  .cuadros {
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .asideProductos {
    display: none;
  }
  .cuadros {
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar .navIcons div img {
    display: none;
  }
  .header h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1000px) {
  .asideProductos {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */